.card {
  margin: 18px auto;
  width: 700px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  box-shadow: 1px 1px 5px #0000002c;
  text-align: left;
  background-color: rgba(110, 134, 199, 0.3);
}

.card .title {
  margin: 0;
}

.card .company {
  margin: 4px 0;
  font-weight: 200;
  font-size: 14px;
}
